.about {
  padding-top: 90px;
  .about-me {
    position: fixed;
    width: 200px;
    top: 360px;
    left: 720px;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  .about-cookie {
    position: fixed;
    width: 165px;
    top: 270px;
    left: 311px;
    transform: translate(-50%, -50%);
  }
  .about-dog {
    position: fixed;
    width: 210px;
    top: 270px;
    left: 1080px;
    transform: translate(-50%, -50%);
  }
  .about-line-right {
    position: fixed;
    width: 240px;
    top: 340px;
    left: 890px;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
  .about-line-left {
    position: fixed;
    width: 240px;
    top: 250px;
    left: 390px;
    z-index: -1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: scaleX(-1);
  }
}
